.maxresdefault-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.maxresdefault-maxresdefault {
  width: 100%;
  height: 1004px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.maxresdefault-maxresdefault2 {
  top: 50px;
  left: 55px;
  width: 852px;
  height: 479px;
  position: absolute;
}
.maxresdefault-text {
  top: 559px;
  left: 55px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.maxresdefault-link {
  display: contents;
}
.maxresdefault-frame1 {
  top: 785px;
  left: 70px;
  width: 381px;
  height: 108px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.maxresdefault-text2 {
  top: 26px;
  left: 83px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  box-shadow: 8px 11px 14px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
